html
	head
		meta(charset='utf-8')
		title #{title}
		link(rel='stylesheet', href='/styles/calendar.css')
		script(type='text/javascript').
			const dateStart=#{dateStart}
			const dateEnd=#{dateEnd}

	body.config
		main.container
			include _flashes
			form(action='/config', method='POST')#config
				div.form-group.row
					label(for='dateStart').col-sm-2.col-sm-offset-3.col-form-label Date start
					div.col-sm-4
						input(type='date', name='dateStart', value=dateStart)#dateStart.form-control
				div.form-group.row
					label(for='dateEnd').col-sm-2.col-sm-offset-3.col-form-label Date start
					div.col-sm-4
						input(type='date', name='dateEnd', value=dateEnd)#dateEnd.form-control
				input(type='submit', value='Save config').btn.btn-large